*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#cabecalho{
    display: flex;
    justify-content: flex-end;
    background-color: wheat;
    align-items: center;
    border-bottom: 2px solid black;
}
a{
    margin: 15px;
    text-decoration: none;
}
#logo{
    width: 50px;
    margin-right: 55%;
}
