.container{
    display:flex;
    height: 500px; 
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    
}   



.container div { 
    width: 100px;
    height: 100px;
    background-color: wheat;
    margin: 10px;
    padding: 10px;
    font-size: 20px;
               
}

.div5{
    align-self: flex-end;
}

.div1{
    align-self: flex-end;
}

.div3{
    align-self: center;
    order: 0;
}

